{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <img class="background" src="/images/code.jpg">
        <div class="background overlay"></div>

        <div class="section-inner">
            <h2>Bienvenue {{ app.user.username }}</h2>

            <h3>Liste des réalisations</h3>

            <div class="dotted-titles">
                {% for realisation in realisations %}
                    <h3>{{ realisation.title }} (<a href="{{ path("realisation", {id: realisation.id}) }}" target="_blank">Voir</a>)</h3>
                    <p>{{ realisation.intro }} - <a href="{{ path("realisation_admin", {id: realisation.id}) }}">Détails</a> - <a href="{{ path("admin_edit_realisation", {id: realisation.id}) }}">Modifier</a></p>
                {% endfor %}
            </div>

            <a class="download" href="{{ path("admin_add_realisation") }}">+ Ajouter</a>

            <h3>Messages du formulaire de contact</h3>

            <div class="dotted-titles">
                {% for message in messages %}
                    <h3><em>{{ message.id }}</em>{{ message.name }} - {{ message.mail }} - {{ message.website? message.website : "" }}</h3>
                    <p>{{ message.message }}</p>
                {% endfor %}
            </div>

            <p>Messages attrapés par le pot de miel : {{ honeyPots|length }}. Dernière tentative : {{ honeyPots|last.attemptDate|date('d/m/y') }}</p>
        </div>
    </section>
{% endblock %}
