{#
    Simple customizable carousel - Hugo Heuzebroc
    VARIABLES:
    - entries: the array that contains the data
    - image: the attribute that contains the image file name
    - title (optional): the attribute that contains the image subtitle.
    - description: the attribute that contains the image description
#}

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        {% for item in entries %}
            <div class="carousel-item {{ loop.first? "active":"" }}">
                <img src="/images/{{ attribute(item, image) }}"
                     class="d-block w-100"
                     alt="{{ attribute(item, description) }}"
                >

                {% if title is defined %}<h3>{{ attribute(item, title) }}</h3>{% endif %}
                <p>{{ attribute(item, description) }}</p>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>