{% extends 'base.html.twig' %}

{% block body %}
<body class="noscroll">
    <div class="sunset-wrapper">
        <img class="background" src="{% block background %}{% endblock %}">

        <header class="hide">
            {% block content %}{% endblock %}
        </header>

        <div class="cardinal folded cardinal-top" id="toplink-img"><img src="{{ top.url }}"></div>
        <div class="cardinal folded cardinal-right" id="rightlink-img"><img src="{{ right.url }}"></div>
        <div class="cardinal folded cardinal-bottom" id="bottomlink-img"><img src="{{ bottom.url }}"></div>
        <div class="cardinal folded cardinal-left" id="leftlink-img"><img src="{{ left.url }}"></div>

        <a href="{{ top.route ?? '#' }}" id="toplink" class="cardinal slidein cardinal-top">{{ top.name }}</a>
        <a href="{{ right.route ?? '#' }}" id="rightlink" class="cardinal slidein cardinal-right">{{ right.name }}</a>
        <a href="{{ bottom.route ?? '#' }}" id="bottomlink" class="cardinal slidein cardinal-bottom">{{ bottom.name }}</a>
        <a href="{{ left.route ?? '#' }}" id="leftlink" class="cardinal slidein cardinal-left">{{ left.name }}</a>
    </div>
</body>
{% endblock %}